@media screen and (max-width:1020px){
    /* class geral */
    .flex {
        flex-direction: column;
        height: fit-content;  
    }
    /* cabeçalho */
    .menu-desktop, .btn-contato{
    display: none;
    }
}
/* TOPO DO SITE */

.top-port{
    padding: 20px 8%;
    box-shadow: 0 0 40px 10px #05050527;
    height: fit-content;  

}
.top-port h1{
    font-size: 30px;
}
.top-port .texto-topo p{
    font-size: 27px;
}
.top-port .avatar-topo {
    display: none;
}
/* Habilidades */
.habilidades{
   display: none;
   height: fit-content;  
}
/* SOBRE */
.sobre{
    padding: 80px 8%;
    height: fit-content;  
}
.sobre .img-sobre{
    display: none;
}
/* PROJETOS */
section.projetos{
    padding: 80px 8%;
    height: fit-content; 
}  
.img-projetos{
    width: 360px;
}
.img-projetos{
    margin: 20px;
}
.projetos .flex {
    display: block;
    white-space: nowrap;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
}

.projetos .flex > a {
    display: inline-block;
    width: 100%;
}

.img-projetos {
    scroll-snap-align: center;
    width: calc(100% - 20px); 
    margin: 0 10px; 
}
/* Contato */
section.formulario{
    padding: 80px 8%;
    height: fit-content;  
}
/* FOOTER */
footer {
    padding: 40px 8%;

}

